body {
    background: #111;
    color: white;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}
